*{
    margin: 0; padding: 0;
}

html{
    font-size: 18px color #fff;
    font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Zen Kurenaido', sans-serif;
}
header{
    height: 100vh;
    background-image: url(../images/272b0db5-1b5f-40cc-94ed-f2d6e7d5cc59.jpg);
    background-position: center;
    background-size: cover;
}
.main-nav{
list-style: none;
padding-top: 30px;
text-align: center;
}
.main-nav li{
    display: inline-block;
    margin-right: 20px;
}
.main-nav li a{
  color: white;
  text-decoration: none;
  

}

.name{
    position: absolute;
    left: 60%;
    top: 40%;
    background-color: rgba(30, 30, 30, 0.816);
    color: white;
    padding: 10px;
}
.btn:hover{
    background-color: rgb(133, 128, 121);
    transition-duration: 0.5s;
}
.btn{
    border-radius: 5px;
    padding: 5px;
}
.img1{
    width: 100%;
    height: 50%;
}
.man{
    padding: 5px;
    margin: 5px;
}
.btn1{
    background-color: black;
    color: wheat;
    padding: 100px;
    
    
}
span{
    margin: 55px;
}
.p1{
    position: absolute;
   padding: 30px;
   width: 20%;
left: 310px;
top:212%;
}
.p2{
    position: absolute;
    padding: 30px;
    width: 20%;
    right:170px;
 top:212%;
}
.p3{
  position: absolute;
padding: 30px;
    width: 20%;
 left: 310px;
 top:242%;
}
.p4{
    position: absolute;
    padding: 30px;
    width: 20%;
    right:170px;
 top:242%;
}
.img2{
    margin: 5px;
}

hr{
    width:90px;
    margin:30px;
    border:0.01px solid rgb(128, 128, 128);
    border-radius:20%; 
    
    

}

h1{
    margin-left: 30px;
    font-size: 40px;
}

.p7{
    font-size:30px;
     width: 80%;
     margin:20px;
     /* padding: 5px; */
   
    
 }

 .p8{
    font-size: 30px;
   
    position: absolute;
    top: 295%;
    width: 40%;
    left:130px;
 }

 .photo{
    position: relative;
    right: 30px;
 }
